.icon {
  width: 24px;
  height: 24px;
  color: rgb(237, 65, 131);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: lighter;
  font-family: "Crushed", cursive;
}

h1 {
  font-weight: lighter;
  font-family: "Crushed", cursive;
  /* font-family: "Poiret One", cursive; */
  /* font-family: "Unica One", cursive; */
}

.centered {
  text-align: center;
}
p {
  font-family: cursive;
}
.topnav {
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 24px;
  color: rgb(237, 65, 131);
}

.topnav-component {
  padding: 0px 15px 0px 15px;
}
.zoomHover {
  transition: transform 0.5s;
}
.zoomHover:hover {
  transform: scale(1.5);
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

th {
  /* border: 1px solid black; */
  border-right: 10px;
}

.label {
  padding-left: 16px;
}

.gridContainer {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 100px;
  padding: 10px;
  margin: 100px;
}

.gridBox {
  background-color: rgb(116, 190, 255);
  text-align: center;
  font-size: 24px;
  margin: 2%;
  width: 100%;
}

.artPrint {
  width: 230px;
  height: fit-content;
}

button {
  margin: 0 auto;
  display: block;
}

.quantity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .gallery {
  object-fit: contain;
  margin: 5px;
  border: 1px solid rgb(255, 158, 180);
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid rgb(74, 146, 255);
}
.gallery img {
  width: 100%;
  height: auto;
  display: inline-block;
}
.description {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-weight: lighter;
  font-family: "Crushed", cursive;
} */

#carousel {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

#carousel .slide {
  display: inline-block;
}

.slide img {
  /* margin: 5px; */
  /* border: 1px solid rgb(255, 108, 155); */
  width: 300px;
  height: 400px;
  object-fit: cover;
}

/* .slide:hover {
  border: 1px solid rgb(84, 113, 255);
} */

.transparentHover:hover {
  background-color: rgba(169, 219, 255, 0.603);
}

/* #carousel.transparentHover {
  background-color: rgb(255, 213, 98);
} */

.hoverText {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: rgb(255, 213, 98);
}
