* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 246, 234);
}

.icon {
  width: 24px;
  height: 24px;
  color: rgb(237, 65, 131);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: lighter;
  font-family: "Crushed", cursive;
}

h1,
h2 {
  font-weight: lighter;
  font-family: "Crushed", cursive;
  /* font-family: "Poiret One", cursive; */
  /* font-family: "Unica One", cursive; */
}

.centered {
  text-align: center;
}
p {
  font-family: cursive;
}
.topnav {
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 24px;
  color: rgb(237, 65, 131);
}

.topnav-component {
  padding: 0px 15px 0px 15px;
}
.zoomHover {
  transition: transform 0.5s;
}
.zoomHover:hover {
  transform: scale(1.5);
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

th {
  border-right: 10px;
}

.label {
  padding-left: 16px;
}

.gridContainer {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 100px;
  padding: 10px;
  margin: 100px;
}

.gridBox {
  background-color: rgb(116, 190, 255);
  text-align: center;
  font-size: 24px;
  margin: 2%;
  width: 100%;
}

.artPrint {
  width: 250px;
  height: 300px;
  object-fit: cover;
}

button {
  margin: 0 auto;
  display: block;
}

.quantity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  float: left;
  width: 500;
  height: 700px;
  padding-left: 320px;
  padding-top: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.coverArt {
  width: calc(1080px / 4);
  height: calc(1920px / 4);
}

.coverArt:hover {
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid rgb(255, 145, 163);
}

.linkColor {
  color: rgb(177, 81, 255);
}
