* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crused", cursive;
  font-weight: lighter;
}

body {
  background-image: url("/images/Lake\ revised.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 70%;
}

.icon {
  width: 24px;
  height: 24px;
  color: rgb(237, 65, 131);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: lighter;
  font-family: "Crushed", cursive;
}

h1,
h2 {
  font-weight: lighter;
  font-family: "Crushed", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}

.centered {
  text-align: center;
}
.clickToReadText {
  align-items: center;
}

p {
  font-family: cursive;
}
.topnav {
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-size: 24px;
  color: rgb(237, 65, 131);
}

.topnav-component {
  padding: 0px 15px 0px 15px;
}
.zoomHover {
  transition: transform 0.5s;
}
.zoomHover:hover {
  transform: scale(1.5);
}

table {
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  border: 1px solid black;
  background-color: rgb(255, 246, 234);
}

th {
  border-right: 10px;
}

.label {
  padding: 20px 10px 20px 10px;
}

.shoppingCart {
  margin-right: 10px;
}
.gridContainer {
  position: relative;
  width: 50%;
  height: 1250px;
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 100px;
}

/* .gridBox {
  text-align: center;
  font-size: 24px;
  margin: 2%;
  width: 230px;
} */

.artPrint {
  width: 250px;
  height: 300px;
  object-fit: cover;
  padding-top: 20px;
}

button {
  margin: 0 auto;
  display: block;
}

.quantity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  float: left;
  width: 30%;
  height: 500px;
  padding-top: 15px;
  padding-left: 20%;
  /* display: inline-block; */
}

.coverArt {
  width: calc(1080px / 4);
  height: calc(1920px / 4);
  position: flex;
  margin-right: 50px;
}

.coverArt:hover {
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid rgb(255, 145, 163);
}

.floatingBox {
  background: rgba(133, 50, 166, 0.723);
  width: 950px;
  height: 600px;
  color: white;
  margin: 0 auto;
  border-radius: 20px;
}
.floatingBoxTwo {
  width: 90%;
  height: 1300px;
  color: white;
  margin: 0 auto;
  border-radius: 20px;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 100px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgba(133, 50, 166, 0.723);
  border-radius: 20px;
}
.floatingBoxThree {
  background: rgba(133, 50, 166, 0.723);
  width: 800px;
  height: 600px;
  padding-left: 10px;
  padding-top: 50px;
  color: white;
  margin: 0 auto;
  border-radius: 20px;
}

/* Dropdown Menu below */
.dropDownButton {
  border: none;
}
.dropDownAction {
  position: relative;
  display: inline-block;
}
.dropDownContent {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgb(255, 220, 235);
  z-index: 1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 90px;
  background: rgb(255, 246, 234);
  text-align: left;
}

.dropDownContent a:hover {
  background-color: rgba(177, 81, 255, 0.844);
}
.dropDownAction:hover .dropDownContent {
  display: block;
}
.dropDownAction:hover .dropDownButton a {
  background-color: azure;
}
